<div class="nav-bottom">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-center">
        <a class="nav-link px-4" href="index.html">
          <i class="bi bi-house-door me-2"></i>Início
        </a>
        <a class="nav-link px-4" href="abacv.html">
          <i class="bi bi-person-badge me-2"></i>Currículos
        </a>
        <a class="nav-link px-4" href="abainst.html">
          <i class="bi bi-building me-2"></i>Instituições
        </a>
        <a class="nav-link px-4" href="estatisticas.html">
          <i class="bi bi-bar-chart me-2"></i>Dados e Estatísticas
        </a>
        <div class="dropdown">
          <a class="nav-link px-4 dropdown-toggle active" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-info-circle me-2"></i>Sobre
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="sobre.html">Sobre a plataforma</a></li>
            <li><a class="dropdown-item" href="termos.html">Termos de Uso</a></li>
          </ul>
        </div>
        <a class="nav-link px-4" href="ajuda.html">
          <i class="bi bi-question-circle me-2"></i>Ajuda
        </a>
      </div>
    </div>
</div>